@import url('settings.css');

#envioSection1__envioForm fieldset {
    border: none;
    margin: 0;
}


.envioSection1__encabezado{
    display: flex;
    flex-direction:column;
    height: 8rem;
    justify-content: space-evenly;
    border-bottom: 2px solid var(--colorPrimero);
}
.encabezado-titulo{
    text-align: center;
    color: var(--colorSexto);
    font-family: var(--fontPrimera);
    font-size: 2.3em;
    font-weight: 800;
}
.encabezado-mensaje{
    text-align: center;
    font-family:var(--fontPrimera);
    color: var(--colorSexto);
    font-size: 1em;
    font-weight: 400;

}
#envioSection1__envioForm{
    height:29rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}


#envioSection1__envioForm input[type="text"],input[type="number"],input[type="email"]{
    width: 20rem;
    height: 3.5rem;
    border-radius:0.8rem;
    padding:1rem;
    text-align: center;
    border:none;
    font-size: 1em;
    font-weight:500;
    font-family: var(--fontPrimera);
    background-color: var(--colorPrimero);
    color: var(--colorSeptimo);
}



#envioSection1__envioForm input[type="text"]:focus,
input[type="date"]:focus,
input[type="time"]:focus{
   outline: none;
   box-shadow: 0 0 6px 2px var(--colorSexto);
}

#envioSection1__envioForm>label{
    color: var(--colorSexto);
    font-family: var(--fontPrimera);
    font-weight: 800;
    font-size: 1.2em;
}


#envioForm-submit{
    color: var(--colorSeptimo);
    font-weight: 400;
    border:none;
    background-color: var(--colorPrimero);
    border-radius:0.8rem;
    font-family: var(--fontPrimera);
    cursor: pointer;
    font-size: 1.2em;
    padding: 0.5rem 1rem;
}
