@import url('settings.css');
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-titulo{
    font-family: var(--fontPrimera);
    color: var(--colorSexto);
}
.section1,.section2,.section3,.section4,.section5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
.listaMenu{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.section1__tipo,
.section2__tipo,
.section3__tipo,
.section4__tipo,
.section5__tipo{
    margin: 2rem 1rem;
    background-color: var(--colorTercero);
    width: 100%;
    text-align: center;
    padding: 1rem;
}
.tipo-titulo{
    font-family: var(--fontPrimera);
    color: var(--colorSexto);
  

}

.section1__card,
.section2__card,
.section3__card,
.section3__card,
.section3__card,
.section4__card,
.section5__card {
   background-color: var(--colorTercero);
   display: flex;
   width: 25rem;
   flex-direction: column;
   height: 36rem;
   background-color: var(--colorSegundo);
   border-radius:25px;
   box-shadow: 0 0 10px 3px var(--colorSexto);
   transition: box-shadow 0.5s;
   overflow: hidden;
}
.section1__card:hover,
.section2__card:hover,
.section3__card:hover,
.section4__card:hover,
.section5__card:hover{
    box-shadow: none;
}

.section1__card:hover .card-image,
.section2__card:hover .card-image,
.section3__card:hover .card-image,
.section4__card:hover .card-image,
.section5__card:hover .card-image{
    scale: 1.1;
}
.card-image{
    transition: scale 0.5s;
    width: 100%;
    height: 40%;
    
}
.card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius:25px 25px 0 0;
}

.card__detalles{
    display: flex;
    height: 60%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}
.encabezado-titulo{
    font-family: var(--fontPrimera);
    color: var(--colorSeptimo);
    font-size: 1.3em;
    text-align: center;
}
.text-parrafo{
    font-family: var(--fontPrimera);
    color: var(--colorSeptimo);
    font-size: 0.9em;

}
.card__añadir{
    display: flex;
    justify-content: space-between;
    height: 10%;
    border-radius: 0 0 25px 25px ;
    background-color: var(--colorPrimero);
}
.añadir__contador{
    display: flex;
    align-items: stretch;
    width: 5rem;
}

.contador-input::-webkit-inner-spin-button,
.contador-input::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.contador-input{
    font-family: var(--fontPrimera);
    width: 60%; 
    border: none;
    -moz-appearance: textfield;
    text-align: center;
    color: var(--colorSegundo);
    font-weight: 900;
}

.contador-decrementar,
.contador-incrementar{
    font-family: var(--fontPrimera);
    border: none;
    display: flex;
    width: 30%; 
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--colorTercero);
    color: var(--colorSegundo);
    font-weight: 900;
    user-select: none;
    transition: box-shadow 0.3s, transform 0.3s;
}
.contador-decrementar:hover,
.contador-incrementar:hover{
    box-shadow: 0 0 10px 1px var(--colorSexto);
    transition: box-shadow 0.3s, transform 0.3s;
    transform: translateY(-0.3rem);
}
.añadir-precio{
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    width: 4rem;
    background-color: var(--colorTercero);
    color: var(--colorSegundo);
    font-weight: 600;
}

  .añadir-btn{
    font-family: var(--fontPrimera);
    display: flex;
    width: 5rem;
    background-color: var(--colorTercero);
    color: var(--colorSegundo);
    border: none;
    font-weight: 900;
    cursor: pointer;
    transition: box-shadow 0.3s, transform 0.3s;
  }
.añadir-btn:hover{
    position: relative;
    box-shadow: 0 0 10px 1px var(--colorSexto);
    transition: box-shadow 0.3s, transform 0.3s;
    transform: translateY(-0.3rem);
}

.section-5__box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    margin-top: 7rem;
    background-color: var(--colorPrimero);
}
.box-btn{
    color: var(--colorPrimero);
    font-weight: 800;
    border:none;
    background-color: var(--colorSeptimo);
    border-radius:0.8rem;
    font-family: var(--fontPrimera);
    cursor: pointer;
    font-size: 1.2em;
    padding: 0.5rem 1rem;
}



